version: '3.8'

services:
  postgres:
    image: postgres:17
    container_name: ekost_postgres
    environment:
      POSTGRES_DB: ekost
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5431:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: